.container {
    background-color: lightblue;
    height: 100vh;
    color: rgb(179, 216, 250);
    font-family: sans-serif;

}

.bg_color {
    background-color: rgb(82, 147, 221);
}

.gap {
    margin: 4px;
}

.row_top {
    height: 60%;
}

.row_bottom {
    height: 20%;
}

.row_title {
    height: 15%;
}

.row_buy_box {
    height: 85%;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}